# SPDX-FileCopyrightText: 2025 ukoOS Contributors
#
# SPDX-License-Identifier: CC0-1.0

*.d
*.o
doc/book/

.cache/
.direnv/
config.mak
result
result-*

/build/
/compile_commands.json
/src/kernel/arch/riscv64/bootstub_generated.ld
/src/kernel/arch/riscv64/bootstub_generated.S
/src/kernel/arch/riscv64/kernel-unstripped.elf
/src/kernel/arch/riscv64/kernel.elf
/src/kernel/kernel.elf
/src/kernel/kernel.sym
